h1, h2, h3 {
    margin-left: 20px;
}

.adminTitle h1 {
	margin-left: 0px;
	font-size: 1.2em;
}

table {
	border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #add8d1
}
tr:nth-child(odd) {
	background-color: #add8ff
}

.adminTitle {
	position: absolute;
	top: 3px;
	left: 2px;
	width: 58px;
	height: 20px;
}

.adminTitle h1 {
	font-size: 1.2em;
	color: lightblue;
}

.menuAdmin {
	width: 685px;
}

#adminMyAccount {
	position: absolute;
	top: 3px;
	right: 2px;
	width: 85px;
	height: 20px;
	padding: 0px 5px 0px 5px;
}

.adminContent {
	position: absolute;
	top: 45px;
	left: 2px;	
}

.item {
	height: 80px;
	width: 100px;
	background-color: aquamarine;
	border: 1px solid green;
	overflow: hidden;
	float: left;
}